article{
    width: 375px;
    height: 89vh;
}

header{
    display: flex;
    justify-content: space-between;


}
.firstblock{
    width: 334px;
    height: 35px;

}
.firstblockrleft > img{
    width: 30px;
    height: 8px;
}
.firstblockright > img{
    width: 25px;
    height: 23px;
}
