.photoposts{
    width: 100%;
    height: 46.5vh;
    overflow-x: hidden;
    overflow-y: scroll;

}
.cardlayout{
    width: 100%;
    height: 100%;

}
.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 0px;
    
}
.parent > figure > img{
    width: 100%;
    height: 125px;
}
